body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0, 0, 0.8);
}

.cabecalho{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #FF9607;
    color: white;
    border-bottom: 2px solid white;
    width: 100%;

}
.ConvertRGB{
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 30%;
    border: 1px solid white;
    padding: 5%;
    background-color: rgb(255, 150, 7);
}
.conteiner{
    
    width: 100%;
    display: flex;
    justify-content: center;
   

    
}
.ConvertRGB select{
    width: 20%;
    margin-top: 3%;
    margin-bottom: 5%;

    
    
}
#colorblock{
    width: 50%;
    height: 50%;
    display: inline-block;
    margin: 20%;
}
#colorblock *{
    margin-top: 5px;
    padding: 10%;
    
}

